* {
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {

        scroll-behavior: smooth;
    }


p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.aboutus-section h6 {
    font-weight: bold;
    font-size: 20px;


}

ul li .title-size{
font-size: 15px;
}

#transform {
    text-transform: capitalize;
    font-weight: normal;
}

#uppercase {
    text-transform: uppercase;
    font-weight:bold;
    font-size: 20px;
}


@media (max-width:768px) {

}

@media (max-width:425px) {}

@media (max-width:320px) {}